<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur 404</title>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        <header>
            <h1>Notes App</h1>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/about">A propos</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <h2>404 Page introuvable</h2>
            <p>Vérifier l'url</p>
            <p>------------------------------------------------------------------------------</p>
        </section>
     
    </div>
</body>
</html>