<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        <header>
            <h1>Notes App</h1>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/about">A propos</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <form action="" method="">
                <label for="titre">titre</label>
                <input type="text" id="titre" name="titre">
                <label for="description">Description</label>
                <textarea name="description" id="description" cols="20" rows="5"></textarea>
                <br>
                <input type="submit" name="add-note" id="add-note" value="Ajouter">
            </form>
            <p>------------------------------------------------------------------------------</p>
        </section>
        <section>
            <h2>Liste des notes</h2>
        </section>
    </div>
</body>
</html>