<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        <%- include('./components/header.ejs') %>
        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laborum dolores sunt aperiam harum dolore blanditiis adipisci. Quisquam aliquam nam enim voluptatem illo repellendus asperiores deleniti debitis expedita. Nisi, aliquid sit, officiis magnam molestias aperiam maiores nostrum quas soluta tempora fugit sapiente ea accusantium neque distinctio commodi, assumenda eos! Nesciunt impedit eligendi et accusamus laborum enim repellat pariatur ab reprehenderit possimus doloremque animi in asperiores sequi fugit quis, totam quo ea libero inventore corporis cupiditate quia ad magni. Aut, exercitationem accusamus illum recusandae ratione temporibus reprehenderit aliquid, nisi atque consectetur tenetur ab nam maxime, excepturi sapiente ullam debitis vero delectus?
            </p>
            <p>------------------------------------------------------------------------------</p>
        </section>
     
    </div>
</body>
</html>