<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        <%- include('./components/header.ejs'); %>
        <section>
            <form action="" method="">
                <label for="titre">titre</label><br>
                <input type="text" id="titre" name="titre"><br>
                <label for="description">Description</label><br>
                <textarea name="description" id="description" cols="20" rows="5"></textarea>
                <br>
                <input type="submit" name="add-note" id="add-note" value="Ajouter">
            </form>
            <p>------------------------------------------------------------------------------</p>
        </section>
        <section>
            <h2>Liste des notes</h2>
            <ul>
                <% for(i=0; i<resultat.length; i++) { %>
                    <h3><%= resultat[i].titre %></h3>
                    <p><%= resultat[i].description %></p>
                    
                <% } %>
            </ul>
        </section>
    </div>
</body>
</html>